*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    background-color: #2f3542;
    color: #ced6e0;
}

header{
    text-align: center;
    padding: 20px;
}

.container{
    background-color: #ced6e0;
    display: flex;
    justify-content: center;
}

.container li{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.container img{
    display: block;
    margin: 0 auto;
    padding: 10px;
}

footer{
    padding: 10px;
    text-align: center;
}